@font-face {
    font-family: "W95FA";
    src:
        url("./fonts/w95fa.woff2") format("woff2"),
        url("./fonts/w95fa.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: "W95FA", sans-serif !important;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    width: 100%;
    gap: 10px;
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#menu button {
    height: 40px;
    width: 200px;
    border: 1px solid #000000;
    background-color: #ffffff;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
}

#menu button:hover {
    cursor: pointer;
    background-color: #000000;
    color: #ffffff;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    gap: 5px;
    place-items: center;
    /* border: 2px dashed black; */
    padding: 30px;
    border-radius: 50px;
    background: #ffffff;

}

#content {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    image-rendering: pixelated;
}

img:hover {
    cursor: pointer;
    background: #e0e0e0;
    box-shadow: 2px 2px 1px #5a5a5a,
        -2px -2px 1px #ffffff;
}

#reset,
#change-difficulty {
    display: none;
    padding: 0.65em 1.6em;
    border: 3px solid #ffffff;
    margin-top: 1em;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    transition: all 0.2s;
    animation: bn13bouncy 5s infinite linear;
    position: relative;
    background-color: rgb(55, 56, 56);
    font-size: 14px;
}

#reset:hover,
#change-difficulty:hover {
    background-color: white;
    color: #000000;
    cursor: pointer;
}

@keyframes bn13bouncy {
    0% {
        top: 0em;
    }

    40% {
        top: 0em;
    }

    43% {
        top: -0.9em;
    }

    46% {
        top: 0em;
    }

    48% {
        top: -0.4em;
    }

    50% {
        top: 0em;
    }

    100% {
        top: 0em;
    }
}